/* Base Styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: center; /* Center the .header-content div */
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
}

.logout-link {
    padding: 10px 20px;
    margin-left: 20px; /* Ensures some space between the message and the link */
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

h1 {
    margin: 0; /* Removes default margin */
    font-size: 24px; /* Adjust as needed */
}

.logout-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logout-link:hover {
    background-color: #0056b3;
}

body {
    padding-top: 60px; /* Adjust based on the actual height of your header */
}

/* Form Styles for Login and Signup */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Product List and Items */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 20px auto;
    max-width: 1200px;
}

.product {
    flex: 0 1 calc(20% - 20px);
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Util Classes */
.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .product {
        flex: 0 1 calc(50% - 20px); /* Display 2 items per row on smaller screens */
    }

    .header, body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logout-link {
        margin-top: 20px;
    }
}
